<%- include('partials/header') %>



    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Alata&display=swap" rel="stylesheet">
    <header>
      <nav>
      <ul>

           <a class="aba" href="/logout" role="button">Logout</a>

        </ul>
      </nav>
    </header>

<ul class = "pard">
<li>Plant Trees</li>
<p>Not just one or two. Contribute to organisations that help in reforestation. Volunteer at NGOs that plant trees.<br>
  It is the most <b>cost effective</b> way to reduce emissions.
<li>Use sustainable forms of transportation as much as you can</li>
<p>Cars and trucks are the biggest contributors to climate change. 82% of emissions from transportation comes from cars.</p>
<li>Lorem ipsum.</li>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<li>Lorem ipsum.</li>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<li>Lorem ipsum.</li>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</ul>





<%- include('partials/footer') %>
